@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-clr: #121a24;
  --btn-clr: #1f2a3a;
  --secondary-clr: #00ABEF;
  --accent-clr: #FF6746;
  --text-clr: #FAFAFA;
  --dark-text-clr: #bdbcd3;
  --game-board-clr: #86c06c;
  --food-clr: #306850;
  --snake-clr: #071821;
  --game-box-clr: #283445;

  --fs-1: 1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.5rem;
  --fs-4: 2rem;
  --fs-5: 2.5rem;
  --fs-6: 2.75rem;
  --fs-7: 3rem;
  --fs-8: 3.5rem;
  --fs-9: 4.5rem;

  --pd-1: 1rem;
  --pd-2: 1.5rem;
  --pd-3: 2rem;
  --pd-4: 3.5rem;
}

/* Setup */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-clr);
  color: var(--text-clr);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-clr);
  border-radius: 50px;
  border: 2px solid var(--primary-clr);
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  --accent-clr: #ff6846c0;
}

.container {
  max-width: clamp(300px, 100vw, 1600px);
  margin-inline: auto;
  padding-inline: var(--pd-2);
  position: relative;
}

.min_height {
  min-height: 100dvh;
}

.flex {
  display: flex;
}

.titles {
  font-size: var(--fs-5);
  color: var(--secondary-clr);
}

.glassmorphism {
  background: rgba( 255, 255, 255, 0.1);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  position: relative;
  z-index: 2;
}

.circle{
  position: absolute;
  top: -160px;
  right: -160px;
  content: "";
  width: 300px;
  height: 300px;
  rotate: 28deg;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  /* border-radius: 50%; */
  z-index: -1;
}
/* header */

.header {
  justify-content: space-between;
  align-items: center;
  padding: var(--pd-1) 0;
}

.logo {
  height: 60px;
  width: 60px;
  padding: var(--pd-3);
  justify-content: center;
  align-items: center;
  font-size: var(--fs-5);
  font-weight: bold;
  color: var(--text-clr);
  -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  transition: transform 0.4s 0.1s;
}

.logo:hover {
  transform: rotateX(180deg);
}

.logo span {
  color: var(--accent-clr);
}

.navigation{
  list-style: none;
}

.naviagtion__item, 
.naviagtion__item a {
  color: var(--text-clr);
  transition: color 0.3s;
  transition: transform 0.3s, color 0.3s;
}

.naviagtion__item:hover,
.naviagtion__item a:hover  {
  transform: translateY(-5px);
  color: var(--secondary-clr);
}

.naviagtion__item a {
  padding: var(--pd-1) var(--pd-2);
}

.language {
  color: var(--text-clr);
  justify-content: center;
  align-items: center;
  gap: 2px;
  transition: color 0.3s;
}

.language svg {
  fill: var(--text-clr);
  transition: fill 0.3s;
}

.language:hover,
.language:hover svg {
  fill: var(--secondary-clr);
  color: var(--secondary-clr);
}


/* hero section */

  /* left side */

.hero__info {
  flex: 1;
  flex-direction: column;
  justify-content: center;

}

.hero__info__title {
  font-size: var(--fs-9);
  line-height: 5.5rem;
  margin-bottom: 5px;
}

.hero__info__subtitle {
  margin-bottom: 15px;
}

.hero__info__text {
  font-size: var(--fs-1);
  color: var(--dark-text-clr);
  line-height: 1.75rem;
  margin-bottom: var(--pd-4);
}

.hero__info__btns {
  gap: var(--fs-6);
}

.btn {
  position: relative;
  color: var(--text-clr);
  font-size: var(--fs-2);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  min-width: 200px;
  padding: var(--fs-1) var(--pd-2);
  background-color: var(--btn-clr);
  border: none;
  overflow: hidden;
  transition: color 0.3s;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn i {
  margin-right: 5px;
}

.btn::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%,-50%);
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  background-image: linear-gradient(to right, var(--secondary-clr), var(--accent-clr));
  transition: width 0.5s, height 0.5s, opacity 0.5s;

}

.btn:hover::before{
  height: 450px;
  width: 450px;
  opacity: 1;
}

.btn:hover {
  color: var(--primary-clr);
}

  /* right side */

.hero__game {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.game__wrapper {
  width: fit-content;
  height: fit-content;
  background-color: var(--game-box-clr);
  border-radius: 5px;
  overflow: hidden;  
  position: relative;
}

.absolute {
  position: absolute;
  transform: translate(-50%, -50%);
}

.game__logo {
  width: 200px;
  top: 35%;
  left: 50%;
}

.start,
.controls,
.restart{
  display: none;
  width: 400px;
  top: 70%;
  left: 50%;
}

.start {
  display: block;
}

.game_over {
  display: none;
  width: 300px;
  top: 30%;
  left: 50%;
}

.animate_fade {
  animation: fade 0.8s ease-in infinite alternate-reverse;
}


@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.game__details {
  color: var(--text-clr);
  font-size: var(--fs-2);
  font-weight: 500;
  justify-content: space-between;
  padding: var(--pd-1) var(--pd-2);
}

.game__board {
  width: 450px;
  height: 450px;
  background-color: var(--game-board-clr);
  display: grid;
  grid-template: repeat(30,1fr) / repeat(30,1fr);
  border-radius: 0 0 5px 5px ;
}


.game__board__food {
  background-color: var(--food-clr);
}

.game__board__head {
  background-color: var(--snake-clr);
}

/* About Section */

.about {
  justify-content: center;
  align-items: center;
  padding-inline: var(--pd-1);
}

.about__img {
  flex: 1;
  padding: var(--pd-3);
  position: relative;
}

.about__img--blur{
  filter: blur(50px);
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.about__info {
  flex: 2;
  flex-direction: column;
  padding: var(--pd-2) var(--pd-3);
  text-align: start;
  justify-content: center;
  background-color: #2834458f;
  border-radius: 8px;
  transform: translateY(20px);
}

.about__title {
  margin-bottom: 15px;
}

.about__text {
  font-size: var(--fs-1);
  color: var(--text-clr);
  line-height: 1.75rem;
  margin-bottom: 15px;
}

/* skills section */

.skills__title {
  margin-block: var(--pd-4);
  text-align: center;
}

.skills__group {
  border-radius: 8px;
  padding: var(--pd-1);
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%),1fr));
  align-items: start;
  gap: var(--pd-1);
  text-align: center;
}

.skill__card {
  min-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: center;
}

.skill__card:first-child{
  grid-row: span 2;
}

.skill__card__title {
  font-size: var(--fs-3);
  padding-block: var(--pd-1);
  color: var(--text-clr);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px 6px 0 0;
  width: 100%;
}

.skill__card__info {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--pd-3);
  padding: var(--pd-3) var(--pd-1);
}

.tech {
  min-width: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tech__name {
  color: var(--dark-text-clr);
}

/* Projects section */

.projects__title {
  text-align: center;
  margin-block: var(--pd-4);
}

.projects_cards {
  position: relative;
  max-width: 1200px;
  margin-inline: auto;
  padding: var(--pd-1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(500px,100%),1fr));
  gap: var(--pd-1);
}

.project_card {
  border-radius: 16px;
  padding: var(--pd-3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pd-3);
}

.project_card__img {
  min-width: 100%;
}

.project_card__img img {
  max-width: 100%;
  border-radius: 8px;
}

.project_card__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pd-3);
}


/* contact section */

.contact {
  justify-content: center;
  align-items: center;
}

.contact__btn {
  padding: var(--pd-3) var(--pd-4);
  cursor: pointer;
}

.contact__btn:hover::before {
  width: 1500px;
  height: 1500px;
}


/* footer */

footer {
  background-color: var(--btn-clr);
  color: var(--text-clr);
  min-height: 10rem;
  padding: var(--pd-2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: var(--accent-clr);
  font-weight: bold;
}